.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #47cf73;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #47cf73;
  }
  .out{
  
    animation: input-fade 2secs ease-in;
  }
  .in{
    animation: output-fade 2secs ease-in;
  }
  .position-relative{
  
    position:relative;
  }
  
  .position-absolute{
  
    position:absolute;
  }
  
  .absolute-1{top:0;left:1.2em;}
  @keyframes input-fade{
  
    from{opacity:1;}
    to{opacity:0;}
  }
  @keyframes output-fade{
  
    from{opacity:0;}
    to{opacity:1;}
  }